.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    background: linear-gradient(135deg, #ff6600, #ffcc00);
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .card-description {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .card-button {
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #005bb5;
  }
  .card-image {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: auto; /* Mantén las proporciones */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espaciado con el texto */
  }
  